@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 font-family: 'Work Sans', sans-serif;
margin: 0%;
padding: 0%;
box-sizing: border-box;
scroll-behavior: smooth;
}

header
{
    background-color:rgb(241, 241, 241);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;

}
.logo{
    text-decoration: none;
    color: #003049;
    font-size: 1.9em;
    font-weight: 400;
   

}
.navo a
{
    text-decoration:none;
  color:#003049; 
 font-size: 1.5em;
 font-weight: 500;
padding-left: 25px;
}
 section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;  
    display: flex;
align-items: center;
background: url("media/background.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}
.main h2{
    color:#254252;
    font-size: 1.8em;
    font-weight: 600;
}
.main h2 span{
    display: inline-block;
    margin-top: 11px;
    color:#171c2d;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
 
    color: #600103;
    font-size: 2em;
    font-weight: 600;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
}
.main-btn {
    color:#f0f0f0;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
  background-color: #f77f00;
  border-radius: 10px;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
margin-bottom: 40px;
transition: 0.8s ease;
}

.main-btn:hover{
    background-color:#e06601;
    transform: scale(1.12);
}
 .social a{
    color:#254252;
    font-size: 1.7em;
    padding-right: 25px;

 }

 .title
 {
    display:flex;
    justify-content: center;
    color:#003049;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 50px;

 }
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
 .cards{
    background-color:#fff7ee ;
 }
 .card{
    background-color: #ffffff;
    width:21.25em;
    box-shadow:0 5px 25px #254252;
    border-radius: 10px;
    padding: 42px;
    margin: 20px;
    transition: 0.8s ease;
 }
 .card:hover{
    transform: scale(1.12);
 }
 .icon{
    color: #003049;
    font-size: 100px;
    text-align: center;
 }
 .info{
    text-align:center;
 }
 .info h3{
    color:#600103;
    font-size: 1.3em;
    font-weight: 700;
 }
 .info p{
    margin-top: 10px;
    color:#254252;
 }
.projects {
    background-color: #171c2d;
}
.sectitle{
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
}
.projects .content{
    margin-top: 30px;
}
.projects .procard{
     background-color: #ffffff;
     border: 3px solid #f0f0f08f;
     min-height: 14em;
     width: 24em;
     overflow: hidden;
     border-radius: 10px;
     margin: 30px;
     transition: 0.7s ease;
}
.procard:hover{
    transform: scale(1.12);
    box-shadow: 6px 9px 12px #0d101a;
}

.proimg img{
width: 100%;
}
.proinfo{
    padding:5px;
    margin: 5px;
}
.proinfo .desc{
    color: #254252;
    font-size: 1.1em;
}
.proinfo .project-title{
    padding: 9px;
    padding-top: 2px;
   display: flex;
   flex-direction: column;
}
.proinfo .project-title span{
    color:#3f0001;
    font-size: 1.5em;
    padding:5px;
}

.proinfo .project-title .more{
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
   background-color: #e14304;
   border-radius: 10px;
 text-align: center;
     display: inline-block;
     padding: 10px;
 
    margin-top: 5px;
    margin-left: 85px;
    margin-right: 85px;
    transition: 0.7s ease;
}
.more:hover{
    color: #d33c00;
    transform: scale(1.12);
   box-shadow: 5px 5px 10px rgba(58, 55, 55, 0.923);
}
